{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/camp.jpg' %});">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span></span></p>
          <h1 class="mb-0 bread">Our Team</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section bg-light">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-lg-10 order-md-last">
                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product d-flex flex-column">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-1.png" alt="Colorlib Template">
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                  <div class="pricing">
                                      <p class="price"><span>$120.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product d-flex flex-column">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-2.png" alt="Colorlib Template">
                                  <span class="status">50% Off</span>
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    <div class="pricing">
                                      <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-3.png" alt="Colorlib Template">
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    <div class="pricing">
                                      <p class="price"><span>$120.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-4.png" alt="Colorlib Template">
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    <div class="pricing">
                                      <p class="price"><span>$120.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product d-flex flex-column">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-5.png" alt="Colorlib Template">
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                  <div class="pricing">
                                      <p class="price"><span>$120.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product d-flex flex-column">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-6.png" alt="Colorlib Template">
                                  <span class="status">50% Off</span>
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    <div class="pricing">
                                      <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-7.png" alt="Colorlib Template">
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    <div class="pricing">
                                      <p class="price"><span>$120.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                          <div class="product">
                              <a href="#" class="img-prod"><img class="img-fluid" src="images/product-8.png" alt="Colorlib Template">
                                  <div class="overlay"></div>
                              </a>
                              <div class="text py-3 pb-4 px-3">
                                  <div class="d-flex">
                                      <div class="cat">
                                          <span>Lifestyle</span>
                                      </div>
                                      <div class="rating">
                                          <p class="text-right mb-0">
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                              <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          </p>
                                      </div>
                                  </div>
                                  <h3><a href="#">Nike Free RN 2019 iD</a></h3>
                                    <div class="pricing">
                                      <p class="price"><span>$120.00</span></p>
                                  </div>
                                  <p class="bottom-area d-flex px-3">
                                      <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                      <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                 
              </div>

              <div class="col-md-4 col-lg-2">
                  <div class="sidebar">
                          <div class="sidebar-box-2">
                              <h2 class="heading">Categories</h2>
                              <div class="fancy-collapse-panel">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingTwo">
                           <h4 class="panel-title">
                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Women's Shoes
                               </a>
                           </h4>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingThree">
                           <h4 class="panel-title">
                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accessories
                               </a>
                           </h4>
                       </div>
    
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingFour">
                           <h4 class="panel-title">
                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Clothing
                               </a>
                           </h4>
                       </div>
                    
                   </div>
                </div>
             </div>
                          </div>

                  </form>
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </section>
    
{% endblock %}